body {

  background-repeat: repeat-y;
  background-size: cover;
  position: relative;
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
  padding-bottom: 0em;
    align-content: center;
    background-color: #E2E5EA;
}

.page-wrap {
      position: relative;
   display: flex;   
   flex-wrap: wrap;
   margin: 2em auto;
   align-items: center;
    padding-left: 4%;
    padding-right: 4%;

}

.canvas {
   display: block;   
margin-left: 10px;
    margin-bottom: 15px;
    align-items: center;
   
}

h1{
    margin-top: 7%;
    margin-bottom: 15px;
    color: #6A5B44;
}

.header-up {
    height: 640px;
    background-size: cover;
    background-position: center top;
    background-image: url("med.jpg");    
}



.controls{
    margin-top:40px;
       margin: 2em auto;

}

.controls__input {
  display: inline-block;
  background: none;
  border: 1px solid #ccc;;
  font-size:1.3em;
  border-bottom: 2px solid #ccc;
  text-align: center;
  color: #6A5B44;
   width:350px;

    
    
    
    
}
.controls__btn {
    background: #ccc;
  color: #CFC0A5;
  border: 1px solid #ccc;;
  border-bottom: 2px solid #ccc;
  width: 100px;
  font-size: 1em;
}

.controls__label {
  display: inline-block;
  font-size: 1.2em;
  padding-top: .3em;
  margin-bottom: 2em;
  color:#fff;
      margin-bottom: 5px;

    width: 350px;
}

canvas {
  background-color: #eee;
  transition: opacity .3s;
}
canvas.show {
  opacity: 1;
}

.canvas-wrap {
  margin-top: 50px;
  position: relative;
}

#canvasID {
  z-index: 9999;
}

canvas1 {
  background-color: #6a5b44;
  transition: opacity .3s;
}
canvas1.show {
  opacity: 1;
}

.canvas-wrap1 {
  margin-top: 50px;
  position: relative;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
     align-content: center;
  align-items: center;
  text-align: center;
    
}

#canvasID1 {
  z-index: 9999;
}

label {
  background-color: #CFC0A5;
  color: black;
  font-weight: bold;
  padding: 4px;
  text-transform: uppercase;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: xx-small;
}

a {
    
  color: #5E8290;
  font-weight: bold;
  text-decoration: none;
  padding: 4px;
  font-size: 12pt;
}

#footer {
  background-color: #5E8290;
  color: #eee;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}




@media screen and (max-width: 600px){
   .page-wrap {
  
    padding-left: 2%;
    padding-right: 2%;

}
      
      .header-up {
         list-style: none;
          
         background-color: #eee;
    background-size: cover;
     background-position: center top;
    background-image: url("smallss.jpg");    
}
    }

@media screen and (min-width: 600px){
      .page-wrap {
  
    padding-left: 2%;
    padding-right: 2%;

    }
      .header-up {
        
    background-image: url("med.jpg");    
}
    }

@media screen and (min-width: 1100px){
    .header-up {
         padding: 10px 40px 16px;
         list-style: none;
         background-color: #eee;
    background-size: cover;
     background-position: center top;
    background-image: url("med.jpg");    
}
         
    }

@media screen and (min-width: 1800px){
   .page-wrap {
  
    padding-left: 2%;
    padding-right: 2%;

}
      
      
    }
}